a {
    text-decoration: none;
}

.container {
    background-color: rgba(15, 15, 15, 0.705);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 0px;
    align-items: center;

}

.containerHidden {
    display: none;
}

@media (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.contButton {
    background-image: linear-gradient(to right, #006175 0%, #0ea591 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #0ea591;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    width: 7em;
    z-index: 2;
    margin: 10px;
}

.contButton:hover {
    color: #fff;
}

.Button {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    color: #0ea591;
    font-size: 16px;
}

.ButtonAct {
    align-items: center;
    background: #0ea591;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    color: #fff;
    font-size: 16px;
}

.contButton:hover .Button {
    background: transparent;
    color: #fff;
}