body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/831749.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}